@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* @custom-variant dark (&:where(.dark, .dark *)); */

body {
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes loadingShimmer {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

.animate-pulse {
  animation: loadingShimmer 1.4s ease-in-out infinite;
}
